@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --color-crimson: #DC143C;
  --color-dark-gray: #111111;
  --color-satin-red: #c91136;
  --color-soft-gray: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-crimson: var(--color-crimson);
  --color-dark-gray: var(--color-dark-gray);
  --color-satin-red: var(--color-satin-red);
  --color-soft-gray: var(--color-soft-gray);
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Base scrollbar styling for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #38bdf8; /* Sky Blue */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}

.glass {
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
